<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div id="Heading">
        <h1 style="font-size: 60px;  text-align: right;">Heading 1 con font-size</h1>
        <hr>
        <h2>Heading 2</h2>
        <hr>
        <h3>Heading 3</h3>
        <hr>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </div>
    <div id="parrafos"
        style="background-color: aqua; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Lorem ipsum dolor sit amet consectetur adipiscing elit quis accumsan ut a sapien convallis, <br>rutrum suscipit
        donec facilisi mattis metus lacus tortor cubilia rhoncus mus. <br> Tellus nec ullamcorper ultrices at congue
        cursus, habitasse aliquam <br> erat a diam pretium et, euismod sodales sagittis sollicitudin <br> facilisis.
        Mollis feugiat imperdiet commodo etiam quisque curabitur enim nascetur pharetra,<br> penatibus arcu pretium
        volutpat libero ultrices ridiculus.
        <dl>
            <dt>Coffee</dt>
            <dd>- black hot drink</dd>
            <dt>Milk</dt>
            <dd>- white cold drink</dd>
        </dl>
        <ol>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ol>

    </div>
    <div id="pre">
        <pre>
            Lorem ipsum dolor sit amet consectetur adipiscing elit quis accumsan ut a sapien convallis, 
            rutrum suscipit donec facilisi mattis metus lacus tortor cubilia rhoncus mus. Tellus nec 
            ullamcorper ultrices at congue cursus, habitasse aliquam erat a diam pretium et, euismod 
            sodales sagittis sollicitudin facilisis. Mollis feugiat imperdiet commodo etiam quisque curabitur
             enim nascetur pharetra, penatibus arcu pretium volutpat libero ultrices ridiculus.
         </pre>

    </div>


</body>

</html>